// LIST UNSTYLED
.list-unstyled {
  list-style: none;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.reset-link:link,
.reset-link:visited {
  text-decoration: none;
  display: block;
}

.reset-button {
  background: none;
  outline: none;
  border: none;
}

.reset-input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  font-family: inherit;
}

.text-center {
  text-align: center;
}
