// COLOR BACKGROUND
$first-color: #bae9ff;


// FONT
$font-weight-head: 700;
$line-height-paragraph: 2rem;

// COLOR FONT
$font-color-one: #f9236f;
$font-color-two: #222222;
$font-color-three: white;

// BUTTON
$color-btn-one: #f9236d;
$color-btn-two: rgba(#f9236d, .7);