// COLOR BACKGROUND
$first-color: #bae9ff;
$two-color: rgba(#a82353, .7);
$tree-color: rgba(white, .7);
$four-color: white;
$fife-color: #d7eff9;


// FONT
$font-weight-head: 700;
$line-height-paragraph: 2.5rem;
$font-weight-h2: 700;


// COLOR FONT
$font-color-one: #f9236f;
$font-color-two: #222222;
$font-color-three: white;

// BUTTON
$color-btn-one: #f9236d;
$color-btn-two: rgba(#f9236d, .7);

// BORDER
$border-raduis-pixel: 5px;

// SHADOW
$shadow: 0 2px 7px rgba(black, 0.5);
