// SECTION FEATURED PRODUCTS
.featured_products {
  position: relative;
  top: -20px;
  background-color: $four-color;
  font-size: 2.5rem;
  padding: 0.8em;
  z-index: 300;

  // FEATURED PRODUCTS HEADINGS BOX
  &_headings_box {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;

    // RESPONSIVE
    @include respond(tablet-p) {
      flex-direction: column;
    }
  }

  // FEATURED PRODUCTS HEADINGS
  &_headings {
    position: relative;
    z-index: 200;

    // RESPONSIVE
    @include respond(tablet-p) {
      margin: 0.5em 0;
    }

    // FEATURED PRODUCTS HEADINGS ICON
    &_icon {
      position: absolute;
      display: block;
      background-color: $four-color;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      @include translate("top", "left", -120%, 50%);
      z-index: -100;

      // RESPONSIVE
      @include respond(tablet-p) {
        position: static;
        transform: translateX(0%);
        height: 5rem;
      }

      // FEATURED PRODUCTS HEADINGS ICON SVG
      & > svg {
        fill: $font-color-one;
        width: 50%;
        height: 50%;

        // RESPONSIVE
        @include respond(tablet-p) {
          width: 100%;
          height: 100%;
        }
      }
    }

    // FEATURED PRODUCTS HEADINGS HEADING
    &_heading {
      color: $font-color-two;
      font-weight: $font-weight-h2;
      font-size: 0.9em;
      padding: 0.5em 0 0.7em 0;

      // RESPONSIVE
      @include respond(tablet-p) {
        font-size: 1.5em;
      }
    }

    // FEATURED PRODUCTS HEADINGS PAR
    &_par {
      font-size: 0.5em;
      color: $font-color-one;

      // RESPONSIVE
      @include respond(tablet-p) {
        font-size: 1em;
      }
    }

    // FEATURED PRODUCTS HEADINGS ONE
    &--1 {
    }

    // FEATURED PRODUCTS HEADINGS TWO
    &--2 {
    }

    // FEATURED PRODUCTS HEADINGS THREE
    &--3 {
    }
  }

  //////////////////////////////////////
  // FEATURED PRODUCTS QUICLY SHAPPING
  &_quicly_shapping {
    margin: 3em 0;

    // FEATURED PRODUCTS QUICLY SHAPPING BOXS
    &_boxs {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
    }

    // FEATURED PRODUCTS QUICLY SHAPPING BOX
    &_box {
      position: relative;
      height: 40rem;
      flex: 0 1 48%;
      background-color: $fife-color;
      border-radius: $border-raduis-pixel;
      overflow: hidden;

      // RESPONSIVE
      @include respond(tablet-p) {
        flex: 1 1 100%;
      }

      // FEATURED PRODUCTS QUICLY SHAPPING BOX :NOT LAST OF TYPE
      &:not(:last-of-type) {
        // RESPONSIVE
        @include respond(tablet-p) {
          margin-bottom: 1em;
        }
      }

      // FEATURED PRODUCTS QUICLY SHAPPING BOX IMG
      & > img {
        position: absolute;
        @include translate("top", "right", 0, 0);
        width: 80%;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      // FEATURED PRODUCTS QUICLY SHAPPING BOX CONTENT
      &_content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        // color: $font-color-three;
        padding: 0 0.8em;
        z-index: 2;

        // FEATURED PRODUCTS QUICLY SHAPPING CONTENT HEADING
        &_heading {
          font-size: 2em;

          // RESPONSIVE
          @include respond(phone) {
            font-size: 3em;
          }

          // FEATURED PRODUCTS QUICLY SHAPPING CONTENT HEADING SPAN
          & > span {
            display: block;
            letter-spacing: $letter-spacing-head;

            // FEATURED PRODUCTS QUICLY SHAPPING CONTENT HEADING SPAN (1)
            &:nth-of-type(1) {
              color: $font-color-two;
            }

            // FEATURED PRODUCTS QUICLY SHAPPING CONTENT HEADING SPAN(2)
            &:nth-of-type(2) {
              color: $two-color;
            }
          }
        }

        // FEATURED PRODUCTS QUICLY SHAPPING CONTENT BAR
        &_par {
          font-size: 0.7em;
          line-height: $line-height-paragraph;
          width: 60%;
          margin: 0.6em 0;
          color: $font-color-one;

          // RESPONSIVE
          @include respond(phone) {
            font-size: 1.2em;
          }
        }

        // FEATURED PRODUCTS QUICLY SHAPPING CONTENT BTN
        &_btn {
          font-size: 0.6em;

          // RESPONSIVE
          @include respond(phone) {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  //////////////////////////////////////
  // FEATURED PRODUCTS SLIDER
  &_slider {
    overflow: hidden;

    // FEATURED PRODUCTS SLIDER HEADING
    &_heading {
      // FEATURED PRODUCTS SLIDER HEADING HEAD
      &_head {
        font-size: $font-size-head-section;
        color: $font-color-two;

        // RESPONSIVE
        @include respond(phone) {
          font-size: 1.5em;
        }
      }

      // FEATURED PRODUCTS SLIDER HEADING PAR
      &_par {
        font-size: $font-size-par-section;
        margin-top: $margin-top-par-section;
        color: $font-color-one;

        // RESPONSIVE
        @include respond(phone) {
          font-size: 1em;
        }
      }
    }

    // FEATURED PRODUCTS SLIDER INNER
    &_inner {
      width: 100%;
      margin-top: 2.5em;
      white-space: nowrap;
      overflow-x: hidden;
      scroll-behavior: smooth;
      user-select: none;

      // FEATURED PRODUCTS SLIDER INNER --ACTIVE
      &--active {
        cursor: grabbing;
      }
    }

    // FEATURED PRODUCTS SLIDER SLIDE
    &_slide {
      display: inline-block;
      width: calc(25% - 0.8em);
      background-color: $four-color;
      overflow: hidden;

      // FEATURED PRODUCTS SLIDER SLIDE :NOT => LAST CHILD
      &:not(:last-child) {
        margin-right: 0.8em;
      }

      // RESPONSIVE
      @include respond(tablet-p) {
        width: calc(50% - 0.8em);
      }

      @include respond(phone) {
        width: 100%;
        margin-right: 0;
      }

      // FEATURED PRODUCTS SLIDER SLIDE IMAGE
      &_image {
        overflow: hidden;
        width: 100%;

        // FEATURED PRODUCTS SLIDER SLIDE IMAGE IMG
        & > img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          object-fit: cover;
          -webkit-user-drag: none;
          user-drag: none;
        }
      }

      // FEATURED PRODUCTS SLIDER SLIDE CAPTION
      &_caption {
      }

      // FEATURED PRODUCTS SLIDER SLIDE HEAD
      &_head {
        color: $font-color-two;
        font-size: 0.8em;

        // RESPONSIVE
        @include respond(tablet-p) {
          font-size: 1em;
        }

        @include respond(phone) {
          font-size: 1.4em;
        }
      }

      // FEATURED PRODUCTS SLIDER SLIDE RATING
      &_rating {
        margin: 0.2em 0;

        // RESPONSIVE
        @include respond(tablet-p) {
          margin: 0.3em 0;
        }

        @include respond(phone) {
          margin: 0.7em 0;
        }

        & > li {
          display: inline-block;
          cursor: pointer;

          & > svg {
            height: 1.5rem;
            width: 1.5rem;
            fill: orange;

            // RESPONSIVE
            @include respond(tablet-p) {
              height: 2rem;
              width: 2rem;
            }
          }
        }
      }

      // FEATURED PRODUCTS SLIDER SLIDE PRICE
      &_price {
        color: $font-color-two;
        font-weight: 700;
      }

      // FEATURED PRODUCTS SLIDER SLIDE DISCOUNT
      &_discount {
        color: lighten($font-color-one, 15%);
        text-decoration: line-through;
      }

      // FEATURED PRODUCTS SLIDER PRICE AND DISCOUNT
      &_price,
      &_discount {
        width: 50%;
        font-size: 0.8em;

        // RESPONSIVE
        @include respond(tablet-p) {
          font-size: 0.9em;
        }

        @include respond(phone) {
          font-size: 1.5em;
        }
      }

      // FEATURED PRODUCTS SLIDER SLIDE BTN
      &_btn {
        font-size: 0.6em;
        margin-top: 1em;

        // RESPONSIVE
        @include respond(phone) {
          font-size: 1em;
        }
      }
    }

    // FEATURED PRODUCTS SLIDER CONTROL
    &_control {
      margin-top: 1em;

      // FEATURED PRODUCTS SLIDER CONTROL ICON
      &_icon {
        width: 30px;
        height: 30px;
        user-select: none;
        cursor: pointer;

        // FEATURED PRODUCTS SLIDER CONTROL ICON RIGHT
        &--right {
        }

        // FEATURED PRODUCTS SLIDER CONTROL LEFT
        &--left {
          margin-right: 0.5em;
        }
      }
    }
  }
}

//////////////////////////////////////
// SECTION LATEST NEWS
.latest_news {
  background: url(../img/latest-news/backgroundSection.png) no-repeat center;
  background-size: cover;
  margin-top: -6rem;
  padding: 8rem 1rem 10rem 1rem;
  overflow: hidden;

  // LATEST NEWS BOX
  &_box {
    font-size: 2.5rem;

    // RESPONSIVE
    @include respond(phone) {
      font-size: 4.3rem;
    }
  }

  // LATEST NEW HEADING
  &_heading {
    &_head {
      font-weight: $font-weight-h2;
      font-size: $font-size-head-section;
      color: $font-color-two;
    }

    &_par {
      font-size: $font-size-par-section;
      margin-top: $margin-top-par-section;
      color: $font-color-one;
    }
  }

  // LATEST NEW ARTICALES
  &_articales {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    margin-top: 1.5em;

    // LATEST NEW ARTICALES BOX
    &_box {
      flex-direction: column;
      flex: 0 1 30%;
      background-color: $four-color;
      margin-bottom: 0.7em;

      // RESPONSIVE
      @include respond(tablet-p) {
        flex: 0 1 49%;
      }
      @include respond(phone) {
        flex: 1 1 100%;
      }
    }

    // LATEST NEW ARTICALES IMG
    &_img {
      width: 100%;
      max-width: 100%;
    }

    // LATEST NEW ARTICALES CONTENT
    &_content {
      padding: 0.7em;
    }

    // LATEST NEW ARTICALES HEAD
    &_head {
      font-size: $font-size-h4;
      color: $font-color-two;
    }

    // LATEST NEW ARTICALES TITLE
    &_title {
      font-size: 0.5em;
      padding: 1em 0 2em 0;
      color: lighten($font-color-one, 15%);
    }

    // LATEST NEW ARTICALES PAR
    &_par {
      font-size: 0.6em;
      line-height: $line-height-paragraph;
      color: $font-color-one;
    }

    // LATEST NEW ARTICALES MORE PAR
    &_more_par {
    }

    // LATEST NEW ARTICALES MORE BTN
    &_more_btn {
      margin-top: 1.9em;
      font-size: 0.5em;
    }
  }
}
