// BTN PRIMARY
.btn-primary:link, .btn-primary:visited {
    color: $font-color-three;
    font-size: .6em;
    font-weight: 700;
    background-color: $color-btn-one;
    padding: 1em;
    width: 30%;
    text-align: center;
    transition: all .5s ease-in-out;

    // BTN PRIMARY :HOVE AND :ACTIVE
    &:hover, &:active {
        background-color: $color-btn-two;
    }

    // BTN PRIMARY :ACTIVE
    &:active {
        transform: translateY(1rem);
    }
}

