// NAVBAR
.navbar {
  position: absolute;
  width: 100%;
  @include translate("top", "left", 0, 0);
  z-index: 200;

  // RESPONSIVE
  @include respond(tablet-p) {
    position: static;
  }

  // NAVBAR NOTE
  &_note {
    font-size: 2rem;
    background-color: $two-color;

    // NAVBAR NOTE CONTENT
    &_content {
      height: 100%;
      height: 7rem;
      display: flex;
      align-items: center;
    }

    // NAVBAR NOTE PARGARPH
    &_paragraph {
      font-size: 1em;
      color: $font-color-three;
      font-weight: 700;
    }

    // NAVBAR NOTE CLOSE
    &_close {
      margin-left: auto;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      border-radius: 50%;
      background-color: $first-color;
      text-align: center;
      cursor: pointer;

      // NAVBAR NOTE ICON
      &_icon {
        font-size: 2rem;
        display: block;
        color: $font-color-two;

        // RESPONSIVE
        @include respond(phone) {
          font-size: 3rem;
        }
      }
    }
  }

  // NAVBAR PRIMARY
  &_primary {
    font-size: 2rem;
    background-color: $tree-color;

    // RESPONSIVE
    @include respond(phone) {
      font-size: 2.5rem;
    }

    // NAVBAR PRIMARY BOX
    &_box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;

      // NAVBAR DIRECT CHILD :FIRST CHILD
      & > :first-child {
        border-bottom: 1px solid $two-color;
      }

      // NAVBAR PRIMARY BOX DIRECT CHILD
      & > * {
        font-size: 0.75em;
      }
    }

    // NAVBAR PRIMARY INFO
    &_info {
      height: 6.05rem;
      display: flex;
      align-items: center;

      // RESPONSIVE
      @include respond(tablet-p) {
        height: 10.5rem;
        flex-direction: column;
        justify-content: space-around;
      }

      @include respond(phone) {
        font-size: 1em;
      }

      // NAVBAR PRIMARY INFO CONTENT
      &_content {
        // NAVBAR PRIMARY INFO CONTENT DIRECT CHILD
        & > * {
          display: inline-block;
        }

        // NAVBAR PRIMARY INFO TITLE
        &_title {
        }

        // NAVBAR PRIMARY INFO EMAIL
        &_email {
          margin-left: 2.5em;

          // NAVBAR PRIMARY INFO EMAIL DIRECT CHILD SPAN
          & > span {
            color: red;
            font-weight: 700;
          }
        }
      }

      // NAVBAR PRIMARY INFO OPTIONS
      &_options {
        margin-left: auto;

        // RESPONSIVE
        @include respond(tablet-p) {
          margin-left: 0;
        }

        // NAVBAR PRIMARY INFO OPTIONS ALL DIRECT CHILD
        & > * {
          display: inline-block;
        }

        // NAVBAR PRIMARY INFO OPTIONS BOX
        &--box {
          position: relative;

          // NAVBAR PRIMARY INFO OPTIONS BOX FIRST CHILD
          &:first-child {
            .navbar_primary_info_options_icon {
              margin-right: .2em;
            }
          }
        }

        // NAVBAR PRIMARY INFO OPTIONS LANG
        &_lang {
        }

        // NAVBAR PRIMARY INFO OPTIONS CUR
        &_cur {
        }

        // NAVBAR PRIMARY INFO OPTIONS TITLE
        &_title {
        }

        // NAVBAR PRIMARY INFO OPTIONS ICON
        &_icon {
          width: 6rem;
          cursor: pointer;
        }

        // NAVBAR PRIMARY INFO OPTIONS SELECT
        &_select {
          position: absolute;
          @include translate("top", "right", 100%, 0);
          background-color: $four-color;
          color: $font-color-two;
          text-align: center;
          border-radius: 5px;
          box-shadow: $shadow;
          margin-top: 0.5em;
          z-index: 100;
          overflow: hidden;
          height: 0;

          // NAVBAR PRIMARY INFO OPTIONS SELECT ITEM
          &_item {
            padding: 0.5em 4em;
            width: 20rem;
            cursor: pointer;
          }
        }
      }
    }

    // NAVBAR PRIMARY NAV
    &_nav {
      position: relative;
      height: 6.05rem;
      display: flex;
      align-items: center;
      overflow: hidden;

      @include respond(tablet-p) {
        height: 10.5rem;
      }

      // NAVBAR PRIMARY NAV LOGO
      &_logo {
        // RESPONSIVE
        @include respond(tablet-p) {
          margin-right: 0.5rem;
        }
        // NAVBAR PRIMARY NAV LOGO SVG
        & svg {
          width: 10rem;
          height: 2rem;
        }
      }

      // NAVBAR PRIMARY NAV ITEMS
      &_items {
        margin-left: auto;
        text-transform: capitalize;
        align-self: stretch;
        display: flex;
        align-items: stretch;

        // RESPONSIVE
        @include respond(tablet-p) {
          position: absolute;
          flex-direction: column;
          @include translate("top", "right", 100%, -100%);
          opacity: 0;
          width: 100%;
          background-color: $four-color;
          z-index: 2000;
        }

        // NAVBAR PRIMARY NAV ITEMS DIRECT CHILD LI
        & > li {
          display: inline-block;
          color: $font-color-two;
          font-size: 1.2em;
          font-weight: 700;
          padding: 0 0.9em;
          line-height: 6.025rem;
          cursor: pointer;

          // RESPONSIVE
          @include respond(tablet-p) {
            display: block;
          }
        }

        // CLASS ACTIVE
        &--itemactive {
          background-color: $two-color;
          color: $font-color-three !important;
        }
      }

      // NAVBAR PRIMARY NAV SEARCH
      &_search {
        width: 30px;

        // RESPONSIVE
        @include respond(tablet-p) {
          position: relative;
          display: flex;
          align-items: center;
          margin-left: auto;
          width: 100%;
        }

        // NAVBAR PRIMARY NAV SEARCH INPUT[ SEARCH ]
        & > input[type="search"] {
          position: absolute;
          @include translate("top", "right", 50%, 5%);
          width: 0%;
          height: 100%;
          font-size: 2em;

          &:focus {
            border: 1px solid darken($first-color, 50%);
          }

          // RESPONSIVE
          @include respond(tablet-p) {
            position: static;
            display: inline-block;
            width: 100%;
            @include translate("top", "right", 0, 0);
            transform: translateY(0);
            padding: 0.7em 0 0.7em 2.5em;
            border: 1px solid $first-color;
            transition: all 0.5s ease-in-out;
          }
        }

        // NAVBAR PRIMARY NAV BUTTON
        & > button {
          vertical-align: middle;

          // RESPONSIVE
          @include respond(tablet-p) {
            position: absolute;
            @include translate("top", "left", 50%, 5px);
          }

          // NAVBAR PRIMARY NAV SVG
          & > svg {
            width: 3rem;
            height: 3rem;

            // RESPONSIVE
            @include respond(phone) {
              width: 5rem;
              height: 5rem;
            }

            // @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1900px) {
            //   width: 3.2rem;
            //   height: 3.2rem;
            // }
          }
        }
      }
    }
  }
}
