// NAVBAR
.navbar {
  position: absolute;
  width: 100%;
  @include translate("top", "left", 0, 0);
  z-index: 200;

  // NAVBAR NOTE
  &_note {
    font-size: 2rem;
    background-color: $two-color;
    height: 7rem;

    // NAVBAR NOTE CONTENT
    &_content {
      height: 100%;
      display: flex;
      align-items: center;
    }

    // NAVBAR NOTE PARGARPH
    &_paragraph {
      font-size: 1em;
      color: $font-color-three;
      font-weight: 700;
    }

    // NAVBAR NOTE CLOSE
    &_close {
      margin-left: auto;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      border-radius: 50%;
      background-color: $first-color;
      text-align: center;

      // NAVBAR NOTE ICON
      &_icon {
        display: block;
        color: black;
      }
    }
  }

  // NAVBAR PRIMARY
  &_primary {
    font-size: 2rem;
    background-color: $tree-color;

    // NAVBAR PRIMARY BOX
    &_box {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: black;

      // NAVBAR DIRECT CHILD :FIRST CHILD
      & > :first-child {
        border-bottom: 1px solid $two-color;
      }

      // NAVBAR PRIMARY BOX DIRECT CHILD
      & > * {
        font-size: 0.75em;
      }
    }

    // NAVBAR PRIMARY INFO
    &_info {
      height: 6.05rem;
      display: flex;
      align-items: center;

      // NAVBAR PRIMARY INFO CONTENT
      &_content {
        // NAVBAR PRIMARY INFO CONTENT DIRECT CHILD
        & > * {
          display: inline-block;
        }

        // NAVBAR PRIMARY INFO TITLE
        &_title {
        }

        // NAVBAR PRIMARY INFO EMAIL
        &_email {
          margin-left: 2.5em;

          // NAVBAR PRIMARY INFO EMAIL DIRECT CHILD SPAN
          & > span {
            color: red;
            font-weight: 700;
          }
        }
      }

      // NAVBAR PRIMARY INFO OPTIONS
      &_options {
        margin-left: auto;

        // NAVBAR PRIMARY INFO OPTIONS ALL DIRECT CHILD
        & > * {
          display: inline-block;
        }

        // NAVBAR PRIMARY INFO OPTIONS BOX
        &--box {
          position: relative;

          &:first-child {
            .navbar_primary_info_options_icon {
              margin-right: 1em;
            }
          }
        }

        // NAVBAR PRIMARY INFO OPTIONS LANG
        &_lang {
        }

        // NAVBAR PRIMARY INFO OPTIONS CUR
        &_cur {
        }

        // NAVBAR PRIMARY INFO OPTIONS TITLE
        &_title {
        }

        // NAVBAR PRIMARY INFO OPTIONS ICON
        &_icon {
        }

        // NAVBAR PRIMARY INFO OPTIONS SELECT
        &_select {
          position: absolute;
          @include translate("top", "right", 100%, 0);
          background-color: $four-color;
          color: $font-color-two;
          text-align: center;
          border-radius: 5px;
          box-shadow: 0 2px 7px rgba(black, 0.5);
          margin-top: 0.5em;
          z-index: 100;
          overflow: hidden;
          height: 0;

          // NAVBAR PRIMARY INFO OPTIONS SELECT ITEM
          &_item {
            padding: 0.5em 4em;
            width: 20rem;
          }
        }
      }
    }

    // NAVBAR PRIMARY NAV
    &_nav {
      position: relative;
      height: 6.05rem;
      display: flex;
      align-items: center;

      // NAVBAR PRIMARY NAV LOGO
      &_logo {
        // NAVBAR PRIMARY NAV LOGO SVG
        & svg {
          width: 10rem;
          height: 2rem;
        }
      }

      // NAVBAR PRIMARY NAV ITEMS
      &_items {
        margin-left: auto;
        text-transform: capitalize;
        align-self: stretch;
        display: flex;
        align-items: stretch;

        // NAVBAR PRIMARY NAV ITEMS DIRECT CHILD LI
        & > li {
          display: inline-block;
          color: $font-color-two;
          font-size: 1.2em;
          font-weight: 700;
          padding: 0 0.9em;
          line-height: 6.025rem;
          cursor: pointer;
        }

        &--itemactive {
          background-color: $two-color;
          color: $font-color-three !important;
        }
      }

      // NAVBAR PRIMARY NAV SEARCH
      &_search {
        width: 30px;

        // NAVBAR PRIMARY NAV SEARCH INPUT[ SEARCH ]
        & > input[type="search"] {
          position: absolute;
          @include translate("top", "right", 50%, 5%);
          width: 0%;
          height: 100%;
          font-size: 2em;
        }

        // NAVBAR PRIMARY NAV BUTTON
        & > button {
          vertical-align: middle;

          // NAVBAR PRIMARY NAV SVG
          & > svg {
            width: 2.3rem;
            height: 2.3rem;
          }
        }
      }
    }
  }
}
