.navbar {
  &_primary {
    &_nav {
      ////////////////////////////////////////
      // NAVBAR PRIMARY NAV SHAPPING
      &_shapping {
        // NAVBAR PRIMARY NAV SVG
        & > svg {
          width: 2.5rem;
          height: 2.5rem;

          // RESPONSIVE
          @include respond(phone) {
            width: 3.5rem;
            height: 3.5rem;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING ICON
        &_icon {
          // RESPONSIVE
          @include respond(tablet-p) {
            margin-left: 1rem;
          }

          cursor: pointer;
          user-select: none;
        }

        // NAVBAR PRIMARY NAV SHAPPING BOXS
        &_boxs {
          position: absolute;
          width: 35%;
          @include translate("top", "right", 100%, 0);
          background-color: $four-color;
          z-index: 300;
          box-shadow: 0 5px 5px rgba(black, 0.5);

          // RESPONSIVE
          @include respond(tablet-p) {
            width: 50%;
          }

          @include respond(phone) {
            width: 100%;
          }

          // NAVBAR PRIMARY NAV SHAPPING BOXS INNER
          &_inner {
            height: 30rem;
            overflow: auto;

            // RESPONSIVE
            @include respond(tablet-p) {
              height: 40rem;
            }
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING BOX
        &_box {
          display: flex;
          position: relative;
          margin-top: 0.5em;
          height: 15rem;

          // RESPONSIVE
          @include respond(tablet-p) {
            height: 20rem;
          }

          &:not(:last-child) {
            border-bottom: 1px solid lighten($two-color, 50%);
            padding-bottom: 0.5em;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING BOX CLOSE
        &_close {
          position: absolute;
          @include translate("top", "right", 2%, 2%);
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: $four-color;
          color: $font-color-two;
          text-align: center;
          line-height: 2rem;
          font-size: 2em;
          cursor: pointer;

          // RESPONSIVE
          @include respond(phone) {
            font-size: 3em;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING IMAGE
        &_image {
          height: 100%;

          & > img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: contain;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING CONTENT
        &_content {
          width: 100%;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
        }

        // NAVBAR PRIMARY NAV SHAPPING NAME PRODUCT
        &_name_product {
          font-size: 1.3em;
          font-weight: 700;
        }

        // NAVBAR PRIMARY NAV SHAPPING PRODUCT PRICE
        &_product_price {
          font-size: 1.1em;
          padding: 0.8em 0;
        }

        // NAVBAR PRIMARY NAV SHAPPING NAME PRODUCT PRODUCT PRICE
        &_name_product,
        &_product_price {
          @include respond(phone) {
            font-size: 2em;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING RATING
        &_rating {

          // NAVBAR PRIMARY NAV SHAPPING ICONS
          &_icons {
            display: inline-block;
            fill: orange;

            // NAVBAR PRIMARY NAV SHAPPING ICONS SVG
            & > svg {
              width: 15px;
              height: 15px;
            }
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING ACTIONS
        &_actions {
          display: flex;
          align-items: center;

          // NAVBAR PRIMARY NAV SHAPPING ACTIONS ALL DIRECT CHILD
          & > * {
            flex: 1 1 0;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING TOTAL PRICE
        &_total_price {
          font-weight: 700;

          // NAVBAR PRIMARY NAV SHAPPING TOTAL PRICE SPAN
          & > span {
            color: $font-color-one;
          }
        }

        // NAVBAR PRIMARY NAV SHAPPING PAYMENT
        &_payment {
        }

        // NAVBAR PRIMARY NAV SHAPPING TOTAL PRICE AND PAYMENT
        &_total_price,
        &_payment {

          // RESPONSIVE
          @include respond(phone) {
            font-size: 1.7em;
          }
        }
      }
    }
  }
}
